syntax = "v1"

info(
	title: "中医-后台管理"
	desc: "中医-后台管理."
	author: "horizon"
	email: "horizon@email.com"
	version: "v1.0"
)

type (
	AddDepartmentPositionReReq {
	    BrandId int64 `json:"brandId,optional"`
	    DepartmentId int64 `json:"departmentId,optional"`
	    PositionId int64 `json:"positionId,optional"`
	    
	}
	AddDepartmentPositionReResp {
		Id int64 `json:"id"`
	}
	UpdateDepartmentPositionReReq {
	    Id int64 `json:"id"`
        BrandId int64 `json:"brandId,optional"`
        DepartmentId int64 `json:"departmentId,optional"`
        PositionId int64 `json:"positionId,optional"`
        
	}
	UpdateDepartmentPositionReResp {
	    Id int64 `json:"id"`
	}
	DelDepartmentPositionReReq {
	    Id int64 `form:"id"`
	}
	DelDepartmentPositionReResp {
	    Id int64 `json:"id"`
	}
	InfoDepartmentPositionReReq {
	    Id int64 `form:"id"`
	}
	InfoDepartmentPositionReResp {
	    Id int64 `json:"id"`
        BrandId int64 `json:"brandId"`
        DepartmentId int64 `json:"departmentId"`
        PositionId int64 `json:"positionId"`
        CreateTime string `json:"createTime"`
        
	}
	DepartmentPositionRe {
        Id int64 `json:"id"`
        BrandId int64 `json:"brandId"`
        DepartmentId int64 `json:"departmentId"`
        PositionId int64 `json:"positionId"`
        CreateTime string `json:"createTime"`
        
    }
	ListDepartmentPositionReReq {
        Page       int    `form:"page,default=1,range=[1:200]"`
        PageSize   int    `form:"pageSize,options=10|20|30|40,default=10"`
	}
	ListDepartmentPositionReResp {
	    DepartmentPositionReList []DepartmentPositionRe `json:"departmentPositionRe"`
	    Total    int64  `json:"total"`
	}
)

service account {
	@doc(
		summary: "添加DepartmentPositionRe"
	)
	@server(
		handler: AddDepartmentPositionReHandler
	)
	post /medicine-account/department-position-re/add(AddDepartmentPositionReReq) returns (AddDepartmentPositionReResp)

	@doc(
		summary: "修改DepartmentPositionRe"
	)
	@server(
		handler: UpdateDepartmentPositionReHandler
	)
	post /medicine-account/department-position-re/update(UpdateDepartmentPositionReReq) returns (UpdateDepartmentPositionReResp)

	@doc(
		summary: "删除DepartmentPositionRe"
	)
	@server(
		handler: DelDepartmentPositionReHandler
	)
	get /medicine-account/department-position-re/del(DelDepartmentPositionReReq) returns (DelDepartmentPositionReResp)

	@doc(
		summary: "详情DepartmentPositionRe"
	)
	@server(
		handler: InfoDepartmentPositionReHandler
	)
	get /medicine-account/department-position-re/info(InfoDepartmentPositionReReq) returns (InfoDepartmentPositionReResp)

	@doc(
		summary: "列表DepartmentPositionRe"
	)
	@server(
		handler: ListDepartmentPositionReHandler
	)
	get /medicine-account/department-position-re/list(ListDepartmentPositionReReq) returns (ListDepartmentPositionReResp)
}