syntax = "v1"

info(
	title: "中医-后台管理"
	desc: "中医-后台管理."
	author: "horizon"
	email: "horizon@email.com"
	version: "v1.0"
)

type (
	AddAccountDepartmentReReq {
	    BrandId int64 `json:"brandId,optional"`
	    DepartmentId int64 `json:"departmentId,optional"`
	    AccountId int64 `json:"accountId,optional"`
	    
	}
	AddAccountDepartmentReResp {
		Id int64 `json:"id"`
	}
	UpdateAccountDepartmentReReq {
	    Id int64 `json:"id"`
        BrandId int64 `json:"brandId,optional"`
        DepartmentId int64 `json:"departmentId,optional"`
        AccountId int64 `json:"accountId,optional"`
        
	}
	UpdateAccountDepartmentReResp {
	    Id int64 `json:"id"`
	}
	DelAccountDepartmentReReq {
	    Id int64 `form:"id"`
	}
	DelAccountDepartmentReResp {
	    Id int64 `json:"id"`
	}
	InfoAccountDepartmentReReq {
	    Id int64 `form:"id"`
	}
	InfoAccountDepartmentReResp {
	    Id int64 `json:"id"`
        BrandId int64 `json:"brandId"`
        DepartmentId int64 `json:"departmentId"`
        AccountId int64 `json:"accountId"`
        CreateTime string `json:"createTime"`
        
	}
	AccountDepartmentRe {
        Id int64 `json:"id"`
        BrandId int64 `json:"brandId"`
        DepartmentId int64 `json:"departmentId"`
        AccountId int64 `json:"accountId"`
        CreateTime string `json:"createTime"`
        
    }
	ListAccountDepartmentReReq {
        Page       int    `form:"page,default=1,range=[1:200]"`
        PageSize   int    `form:"pageSize,options=10|20|30|40,default=10"`
	}
	ListAccountDepartmentReResp {
	    AccountDepartmentReList []AccountDepartmentRe `json:"accountDepartmentRe"`
	    Total    int64  `json:"total"`
	}
)

service account {
	@doc(
		summary: "添加AccountDepartmentRe"
	)
	@server(
		handler: AddAccountDepartmentReHandler
	)
	post /medicine-account/account-department-re/add(AddAccountDepartmentReReq) returns (AddAccountDepartmentReResp)

	@doc(
		summary: "修改AccountDepartmentRe"
	)
	@server(
		handler: UpdateAccountDepartmentReHandler
	)
	post /medicine-account/account-department-re/update(UpdateAccountDepartmentReReq) returns (UpdateAccountDepartmentReResp)

	@doc(
		summary: "删除AccountDepartmentRe"
	)
	@server(
		handler: DelAccountDepartmentReHandler
	)
	get /medicine-account/account-department-re/del(DelAccountDepartmentReReq) returns (DelAccountDepartmentReResp)

	@doc(
		summary: "详情AccountDepartmentRe"
	)
	@server(
		handler: InfoAccountDepartmentReHandler
	)
	get /medicine-account/account-department-re/info(InfoAccountDepartmentReReq) returns (InfoAccountDepartmentReResp)

	@doc(
		summary: "列表AccountDepartmentRe"
	)
	@server(
		handler: ListAccountDepartmentReHandler
	)
	get /medicine-account/account-department-re/list(ListAccountDepartmentReReq) returns (ListAccountDepartmentReResp)
}