syntax = "v1"

info(
	title: "中医-后台管理"
	desc: "中医-后台管理."
	author: "horizon"
	email: "horizon@email.com"
	version: "v1.0"
)

type (
	AddDepartmentReq {
	    BrandId int64 `json:"brandId,optional"`
	    ParentId int64 `json:"parentId,optional"`
	    DingTalkId int64 `json:"dingTalkId,optional"`
	    Type int64 `json:"type,optional"`
	    Name string `json:"name,optional"`
	    
	}
	AddDepartmentResp {
		Id int64 `json:"id"`
	}
	UpdateDepartmentReq {
	    Id int64 `json:"id"`
        BrandId int64 `json:"brandId,optional"`
        ParentId int64 `json:"parentId,optional"`
        DingTalkId int64 `json:"dingTalkId,optional"`
        Type int64 `json:"type,optional"`
        Name string `json:"name,optional"`
        
	}
	UpdateDepartmentResp {
	    Id int64 `json:"id"`
	}
	DelDepartmentReq {
	    Id int64 `form:"id"`
	}
	DelDepartmentResp {
	    Id int64 `json:"id"`
	}
	InfoDepartmentReq {
	    Id int64 `form:"id"`
	}
	InfoDepartmentResp {
	    Id int64 `json:"id"`
        BrandId int64 `json:"brandId"`
        ParentId int64 `json:"parentId"`
        DingTalkId int64 `json:"dingTalkId"`
        Type int64 `json:"type"`
        Name string `json:"name"`
        DeleteTime int64 `json:"deleteTime"`
        CreateTime string `json:"createTime"`
        UpdateTime string `json:"updateTime"`
        
	}
	Department {
        Id int64 `json:"id"`
        BrandId int64 `json:"brandId"`
        ParentId int64 `json:"parentId"`
        DingTalkId int64 `json:"dingTalkId"`
        Type int64 `json:"type"`
        Name string `json:"name"`
        DeleteTime int64 `json:"deleteTime"`
        CreateTime string `json:"createTime"`
        UpdateTime string `json:"updateTime"`
        
    }
	ListDepartmentReq {
        Page       int    `form:"page,default=1,range=[1:200]"`
        PageSize   int    `form:"pageSize,options=10|20|30|40,default=10"`
	}
	ListDepartmentResp {
	    DepartmentList []Department `json:"department"`
	    Total    int64  `json:"total"`
	}
)

service account {
	@doc(
		summary: "添加Department"
	)
	@server(
		handler: AddDepartmentHandler
	)
	post /medicine-account/department/add(AddDepartmentReq) returns (AddDepartmentResp)

	@doc(
		summary: "修改Department"
	)
	@server(
		handler: UpdateDepartmentHandler
	)
	post /medicine-account/department/update(UpdateDepartmentReq) returns (UpdateDepartmentResp)

	@doc(
		summary: "删除Department"
	)
	@server(
		handler: DelDepartmentHandler
	)
	get /medicine-account/department/del(DelDepartmentReq) returns (DelDepartmentResp)

	@doc(
		summary: "详情Department"
	)
	@server(
		handler: InfoDepartmentHandler
	)
	get /medicine-account/department/info(InfoDepartmentReq) returns (InfoDepartmentResp)

	@doc(
		summary: "列表Department"
	)
	@server(
		handler: ListDepartmentHandler
	)
	get /medicine-account/department/list(ListDepartmentReq) returns (ListDepartmentResp)
}