syntax = "v1"

info(
	title: "中医-后台管理"
	desc: "中医-后台管理."
	author: "horizon"
	email: "horizon@email.com"
	version: "v1.0"
)

type (
	AddMenuJsonReq {
	    Path string `json:"path,optional"`
	    Json string `json:"json,optional"`
	    
	}
	AddMenuJsonResp {
		Id int64 `json:"id"`
	}
	UpdateMenuJsonReq {
	    Id int64 `json:"id"`
        Path string `json:"path,optional"`
        Json string `json:"json,optional"`
        
	}
	UpdateMenuJsonResp {
	    Id int64 `json:"id"`
	}
	DelMenuJsonReq {
	    Id int64 `form:"id"`
	}
	DelMenuJsonResp {
	    Id int64 `json:"id"`
	}
	InfoMenuJsonReq {
	    Id int64 `form:"id"`
	}
	InfoMenuJsonResp {
	    Id int64 `json:"id"`
        Path string `json:"path"`
        Json string `json:"json"`
        CreateTime string `json:"createTime"`
        UpdateTime string `json:"updateTime"`
        
	}
	MenuJson {
        Id int64 `json:"id"`
        Path string `json:"path"`
        Json string `json:"json"`
        CreateTime string `json:"createTime"`
        UpdateTime string `json:"updateTime"`
        
    }
	ListMenuJsonReq {
        Page       int    `form:"page,default=1,range=[1:200]"`
        PageSize   int    `form:"pageSize,options=10|20|30|40,default=10"`
	}
	ListMenuJsonResp {
	    MenuJsonList []MenuJson `json:"menuJson"`
	    Total    int64  `json:"total"`
	}
)

service account {
	@doc(
		summary: "添加MenuJson"
	)
	@server(
		handler: AddMenuJsonHandler
	)
	post /medicine-account/menu-json/add(AddMenuJsonReq) returns (AddMenuJsonResp)

	@doc(
		summary: "修改MenuJson"
	)
	@server(
		handler: UpdateMenuJsonHandler
	)
	post /medicine-account/menu-json/update(UpdateMenuJsonReq) returns (UpdateMenuJsonResp)

	@doc(
		summary: "删除MenuJson"
	)
	@server(
		handler: DelMenuJsonHandler
	)
	get /medicine-account/menu-json/del(DelMenuJsonReq) returns (DelMenuJsonResp)

	@doc(
		summary: "详情MenuJson"
	)
	@server(
		handler: InfoMenuJsonHandler
	)
	get /medicine-account/menu-json/info(InfoMenuJsonReq) returns (InfoMenuJsonResp)

	@doc(
		summary: "列表MenuJson"
	)
	@server(
		handler: ListMenuJsonHandler
	)
	get /medicine-account/menu-json/list(ListMenuJsonReq) returns (ListMenuJsonResp)
}