syntax = "v1"

info(
	title: "中医-后台管理"
	desc: "中医-后台管理."
	author: "horizon"
	email: "horizon@email.com"
	version: "v1.0"
)

type (
	AddPositionReq {
	    BrandId int64 `json:"brandId,optional"`
	    Name string `json:"name,optional"`
	    Remark string `json:"remark,optional"`
	    
	}
	AddPositionResp {
		Id int64 `json:"id"`
	}
	UpdatePositionReq {
	    Id int64 `json:"id"`
        BrandId int64 `json:"brandId,optional"`
        Name string `json:"name,optional"`
        Remark string `json:"remark,optional"`
        
	}
	UpdatePositionResp {
	    Id int64 `json:"id"`
	}
	DelPositionReq {
	    Id int64 `form:"id"`
	}
	DelPositionResp {
	    Id int64 `json:"id"`
	}
	InfoPositionReq {
	    Id int64 `form:"id"`
	}
	InfoPositionResp {
	    Id int64 `json:"id"`
        BrandId int64 `json:"brandId"`
        Name string `json:"name"`
        Remark string `json:"remark"`
        DeleteTime int64 `json:"deleteTime"`
        CreateTime string `json:"createTime"`
        UpdateTime string `json:"updateTime"`
        
	}
	Position {
        Id int64 `json:"id"`
        BrandId int64 `json:"brandId"`
        Name string `json:"name"`
        Remark string `json:"remark"`
        DeleteTime int64 `json:"deleteTime"`
        CreateTime string `json:"createTime"`
        UpdateTime string `json:"updateTime"`
        
    }
	ListPositionReq {
        Page       int    `form:"page,default=1,range=[1:200]"`
        PageSize   int    `form:"pageSize,options=10|20|30|40,default=10"`
	}
	ListPositionResp {
	    PositionList []Position `json:"position"`
	    Total    int64  `json:"total"`
	}
)

service account {
	@doc(
		summary: "添加Position"
	)
	@server(
		handler: AddPositionHandler
	)
	post /medicine-account/position/add(AddPositionReq) returns (AddPositionResp)

	@doc(
		summary: "修改Position"
	)
	@server(
		handler: UpdatePositionHandler
	)
	post /medicine-account/position/update(UpdatePositionReq) returns (UpdatePositionResp)

	@doc(
		summary: "删除Position"
	)
	@server(
		handler: DelPositionHandler
	)
	get /medicine-account/position/del(DelPositionReq) returns (DelPositionResp)

	@doc(
		summary: "详情Position"
	)
	@server(
		handler: InfoPositionHandler
	)
	get /medicine-account/position/info(InfoPositionReq) returns (InfoPositionResp)

	@doc(
		summary: "列表Position"
	)
	@server(
		handler: ListPositionHandler
	)
	get /medicine-account/position/list(ListPositionReq) returns (ListPositionResp)
}