syntax = "v1"

info(
	title: "中医-后台管理"
	desc: "中医-后台管理."
	author: "horizon"
	email: "horizon@email.com"
	version: "v1.0"
)

type (
	AddConfigReq {
	    BrandId int64 `json:"brandId,optional"`
	    Channel int64 `json:"channel,optional"`
	    Key string `json:"key,optional"`
	    Val string `json:"val,optional"`
	    
	}
	AddConfigResp {
		Id int64 `json:"id"`
	}
	UpdateConfigReq {
	    Id int64 `json:"id"`
        BrandId int64 `json:"brandId,optional"`
        Channel int64 `json:"channel,optional"`
        Key string `json:"key,optional"`
        Val string `json:"val,optional"`
        
	}
	UpdateConfigResp {
	    Id int64 `json:"id"`
	}
	DelConfigReq {
	    Id int64 `form:"id"`
	}
	DelConfigResp {
	    Id int64 `json:"id"`
	}
	InfoConfigReq {
	    Id int64 `form:"id"`
	}
	InfoConfigResp {
	    Id int64 `json:"id"`
        BrandId int64 `json:"brandId"`
        Channel int64 `json:"channel"`
        Key string `json:"key"`
        Val string `json:"val"`
        CreateTime string `json:"createTime"`
        
	}
	Config {
        Id int64 `json:"id"`
        BrandId int64 `json:"brandId"`
        Channel int64 `json:"channel"`
        Key string `json:"key"`
        Val string `json:"val"`
        CreateTime string `json:"createTime"`
        
    }
	ListConfigReq {
        Page       int    `form:"page,default=1,range=[1:200]"`
        PageSize   int    `form:"pageSize,options=10|20|30|40,default=10"`
	}
	ListConfigResp {
	    ConfigList []Config `json:"config"`
	    Total    int64  `json:"total"`
	}
)

service account {
	@doc(
		summary: "添加Config"
	)
	@server(
		handler: AddConfigHandler
	)
	post /medicine-account/config/add(AddConfigReq) returns (AddConfigResp)

	@doc(
		summary: "修改Config"
	)
	@server(
		handler: UpdateConfigHandler
	)
	post /medicine-account/config/update(UpdateConfigReq) returns (UpdateConfigResp)

	@doc(
		summary: "删除Config"
	)
	@server(
		handler: DelConfigHandler
	)
	get /medicine-account/config/del(DelConfigReq) returns (DelConfigResp)

	@doc(
		summary: "详情Config"
	)
	@server(
		handler: InfoConfigHandler
	)
	get /medicine-account/config/info(InfoConfigReq) returns (InfoConfigResp)

	@doc(
		summary: "列表Config"
	)
	@server(
		handler: ListConfigHandler
	)
	get /medicine-account/config/list(ListConfigReq) returns (ListConfigResp)
}